<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <form method="POST">
        <p>Are you sure , want to delete  <b> <u>{{delete_info.name}}'s </u> </b>information from the database</p>
        {%csrf_token%} 

        <button type='submit' class='btn btn-danger'>
            Delete

        </button>   

    </form>
</body>
</html>